// Variables
$primary-color: #009951;
$secondary-color: #32ade6;
$white: #fff;

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

// Landing Page Styles
.landing-page {
  background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/5458960950a597f12534b3b44056120a439394e6eaf760319f8bda04fb286db7');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-container {
    text-align: center;
    color: $white;

    .hero-title {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .cta-button {
      display: inline-block;
      padding: 15px 30px;
      background-color: $primary-color;
      color: $white;
      text-decoration: none;
      border-radius: 8px;
      margin-bottom: 20px;
      font-size: 16px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    }

    .login-button {
      display: inline-block;
      padding: 12px 30px;
      background-color: $secondary-color;
      color: $white;
      text-decoration: none;
      border-radius: 8px;
      font-size: 16px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    }
  }
}

// Responsiveness
@media (max-width: 768px) {
  .landing-page {
    .hero-container {
      .hero-title {
        font-size: 36px;
      }

      .cta-button,
      .login-button {
        font-size: 14px;
        padding: 12px 20px;
      }
    }
  }
}



// New class made for custom button

.workouts-btn {
  width: 270px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 140, 0.3);
  backdrop-filter: blur(3px);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.2s ease-in-out;
}


.workouts-btn:hover {
  transform: scale(1.01);
  background-color: rgba(0, 255, 140, 0.8);
  border: 2px solid white;
}

.home-container {
  display: flex;
  justify-content: center;  /* Centers the div horizontally */
  align-items: center;      /* Centers the div vertically */
  height: 100vh;            /* Sets the container height to 100% of the viewport */
}


.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  h1 {
    margin-bottom: 20px;
  }
}
