.info-container{
  color: white;
}


.review-card{
  background-color: white;
  display: flex;
  overflow: hidden;
  color: black;
  padding: 8px;
  border-radius: 4px;
  width: 500px;
  margin-bottom: 8px;

  .profile{
    width: 30%;
    display: flex;
    flex-direction: column;
    img {
      width: 60%;
      margin: 2px auto;
      border-radius: 50%;
    }

    p {
      color: rgba(0, 159, 122, 0.8);
      margin-bottom: 0;
    }
  }

  .comment{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span{
      opacity: 0.6;
    }
  }
}

.sessions{
  display: flex;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  opacity: 0.7;
}
