<div class="navbar">
  <div class="navbar-logo">
    <%# <%= cl_image_tag("NAVBAR LOGO GOES HERE", style: "margin-left: 20px;", width: 150) %>
  </div>

  <div>
    <%= link_to "All Workouts", workouts_path %>
    <%= link_to "My Account", accounts_path %>

  </div>
</div>
