<div class="home-container">
  <div class="centered-container">
    <h1 style="font-weight: bold; color: white; font-size: 60px;" class="hero-title">Welcome to FitHub</h1>
    <%= link_to 'See all Workout Sessions!', workouts_path, class: "workouts-btn" %>
  </div>
</div>
