.banner{
  color: white;
  display: flex;
  flex-direction: column;
  height: 350px;
  background-position: center;
  background-size: cover;
  justify-content: center;
  h1, p {
    text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.7);
  }

  .button{
    color: white;

    &:hover {
      color: whitesmoke;
    }
  }
}
