.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
  gap: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-info p {
  margin: 0;
  line-height: 1.5;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.logout-button {
  margin-left: auto;
}

.btn-logout {
  color: white;
}

.btn-delete {
  color: white;
}

